{% extends "base.html" %}

{% block title %}
lossless-dc.com
{% endblock %}

{% block content %}
{% include 'nav.html' %}

<main id="main">
    <!-- Contenido de la sección de Inicio -->
    <div id="home_content" class="content content_active">
        {% include 'home.html' %}
    </div>

    <!-- Contenido de la sección de Tutorial -->
    <div id="tutorial_content" class="content">
        {% include 'tutorial.html' %}
    </div>

    <!-- Contenido de la sección de Documentación -->
    <div id="documentation_content" class="content">
        {% include 'documentation.html' %}
    </div>
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}